<div class="modal-header">
	<div class="btn  pull-right m-t-n-xs m-l-n list-icon"
		ng-click="approveObj.alinkReturn()">
		<i class="fa fa-mail-reply-all"></i></a>
	</div>
	<h3 class="m-n font-thin h3">{{pageTitle}}</h3>
</div>
<div class="wrapper-md">
	<div class="">
		<form name="form" class="form-horizontal form-validation">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>表单内容</strong>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2"><span
							class="text-danger m-r-xs font-bold as-star">*</span>是否通过</label>
						<div class="col-sm-9">
							<label class="col-lg-2 m-l-n"> <input type="radio"
								name="approveStatus" ng-model="approveObj.approve" value="2"
								ng-click=""> 通过
							</label> <label class="col-lg-2"> <input type="radio"
								name="approveStatus" ng-model="approveObj.approve" value="1"
								ng-click=""> 驳回
							</label>
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2">&nbsp;&nbsp;&nbsp;审批意见</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="6"
								ng-model="approveObj.note"></textarea>
						</div>
					</div>
				</div>
				<footer class="panel-footer text-right bg-light lter">
					<button type="submit" class="btn btn-success"
						ng-click="approveObj.submit()">提交</button>
				</footer>
			</div>
		</form>
	</div>
</div>