
.search-con .form-group {
    height: 40px;
    float: left;
    width: 250px;
    margin: 0 15px 0 0;
}

.form-inline .form-control {
    background-color: #fff;
    width: 150px
}

.search-con .form-group label {
    font-size: 12px;
    height: 20px;
    width: 38%;
    line-height: 10px;
}

table th, td {
    font-size: 12px;
    text-align: center;
}

.search-con .form-group label {
    width: 95px;
    text-align: right
}

legend {
    margin-bottom: 10px;
    font-size: 14px
}

.overflow {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}