.kuai {
	position: absolute;
	color: #f00;
	min-height: 14px;
	text-indent: 3px;
	font-weight: bold;
	font-size: 14px;
	z-index: 9999998;
	border-radius: 8px;
}

.kuaib {
	position: absolute;
	border-radius: 8px;
	z-index: 9999996;
}

.overlay {
	position: fixed;
	z-index: 9999990;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
}

.showindex {
	position: relative;
	z-index: 9999997 !important;
	color: #000 !important;
}

.tuli {
	position: fixed;
	left: 60px;
	top: 40px;
	width: 160px;
	z-index: 9999999;
	text-align: center;
	line-height: 32px;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #fff
}

.pop {
	position: absolute;
	background: #fff;
	border-radius: 6px;
	line-height: 16px;
	padding: 6px;
	display: none;
	z-index: 9999999;
}

.heatmap-canvas {
	z-index: 9999991;
}

.hm_legend_box {
	position: fixed;
	left: 20px;
	top: 50%;
	margin-top: -30px;
	z-index: 9999991;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	line-height: 40px;
}

.hm_legend_l {
	float: left;
}

.hm_legend_r {
	float: right;
}

.hm_legend {
	margin: 0 10px;
}