
<div class="modal-header">
	<div class="btn  pull-right m-t-n-xs m-l-n list-icon">
		<a ui-sref="app.insure.insureService_policyManage"><i
			class="fa fa-mail-reply-all"></i></a>
	</div>
	<h3 class="m-n font-thin h3">{{pageTitle | translate}}</h3>
</div>
<div class="clearfix m-b-md"
	style="border: solid 1px #dee5e7; border-left: 0px; border-right: 0px;">
	<form class="form-horizontal" name="searchuserForm">
		<div class="" style="margin-top: 20px;">
			<div class="col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">{{"weatherDetail.startTime"
					| translate}}</label>
				<div class="col-md-9 col-sm-10 padder-l-0">
					<input type="text" class="form-control" value="2010-03-11 00:00:00"
						onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'%y-%M-%d'})"
						id="startTime">
				</div>
			</div>
			<div class="col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">{{"weatherDetail.endTime"
					| translate}}</label>
				<div class="col-md-9 col-sm-10 padder-l-0">
					<input type="text" class="form-control" value="2016-12-31 00:00:00"
						onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'%y-%M-%d'})"
						id="endTime">
				</div>
			</div>
			<div class="row-row pull-right-xs text-center padder-l-0">
				<button class=" m-r-n-xl btn m-b-xs w-xs btn-default"
					ng-disabled="searchuserForm.$invalid"
					ng-click="searchPolicyDetail()">{{"common.btn.searchBtn" |
					translate}}</button>
			</div>
		</div>
	</form>
</div>
<div class="clearfix m-b-md">
	<div class="col-lg-12">
		<div class="col-title">{{"weatherDetail.DaQing" |
			translate}}{{"weatherDetail.TemTrendGraph" |
			translate}}{{"weatherDetail.year" | translate}}</div>
		<div class="bg-white padder-v">
			<!--<nvd3 options="rs.opt" data="rs.data"></nvd3>-->
			<div echarts style="height: 300px;" linedata="nomalLine"></div>
		</div>
	</div>
	<!-- <div class="col-lg-4">
        <div class="col-title">异常访问占比</div>
        <div class="bg-white padder-v">
            &lt;!&ndash;<nvd3 options="percent.opt" data="percent.data"></nvd3>&ndash;&gt;
            <div echarts style="height: 300px;" piedata="pieparams"></div>
        </div>
    </div>-->
</div>
<div class="clearfix">
	<div class="col-lg-12">
		<div class="col-title">{{"weatherDetail.DaQing" |
			translate}}{{"weatherDetail.TemList" | translate}}</div>
		<div class="wrapper-md">
			<table table-directive tableoption="policyTableOpt" class="btn-table"
				instance="policyTableInstance"></table>
		</div>
	</div>
</div>