/* CSS Document */
/*html, body, ul, li, h1, h2, h3, h4, h5, h6, fieldset, legend {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "微软雅黑"
}

ol, ul, li {
    list-style: none;
}

* {
    margin: 0 auto;
}

img {
    border: 0;
}

body {
    background: #0076bd;
}

a {
    text-decoration: none;
}

input, textarea {
    BACKGROUND-COLOR: transparent;
    border: none;
    overflow: auto;
    outline: none;
}*/
html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.app {
	height: 100%;
}

.box {
	height: 100%;
	width: 100%;
	background: url(../../img/login/bg.jpg) no-repeat 0 0;
	background-size: 100% 100%;
}

.login_img {
	width: 1400px;
	position: absolute;
	left: 50%;
	margin-left: -700px;
	min-width: 1000px;
	height: 800px;
	top: 50%;
	margin-top: -320px;
}

.JBlogo {
	background: url(../../img/login/logo.png) no-repeat 90px center;
	height: 150px;
	width: 100%;
	z-index: 99999999999;
}

.JBYlogin {
	height: 284px;
	padding-top: 234px;
	position: relative;
}

.dlbg {
	background: url(../../img/login/dlBG.png) no-repeat center;
	height: 292px;
	width: 303px;
	position: absolute;
	right: 200px;
	top: 160px;
	padding: 24px 20px 0 27px;
	z-index: 9999;
}

.login_link {
	padding-top: 6px;
}

.login_link a {
	color: #0076bd;
	font-size: 12px;
}

.dlBT {
	/*font-size: 20px;*/
	color: #548dd4;
	padding-bottom: 22px;
	font-weight: bold;
}

.dlinput01 {
	background: url(../../img/login/inputbg.png) no-repeat left center;
	height: 39px;
	width: 256px;
	line-height: 39px;
	padding-left: 41px;
}

.dlinput02 {
	background: url(../../img/login/inputbg01.png) no-repeat left center;
	height: 39px;
	width: 256px;
	line-height: 39px;
	padding-left: 41px;
}

.dlbg ul {
	list-style: none;
	margin: 0;
	padding: 0 0 28px;
}

.dlkey01 {
	float: left;
}

.dlkey01 a {
	font-size: 14px;
	color: #548dd4;
}

.dlkey02 a {
	font-size: 14px;
	color: #548dd4;
}

.dlkey02 {
	float: right;
}

.dlinput01 input, .dlinput02 input {
	vertical-align: middle;
	width: 215px;
	line-height: 14px;
	padding: 8px 0 8px 5px;
	border: none;
	outline: none;
	color: #000;
}

.dlbgjj {
	padding-bottom: 5px !important;
}

.dlbgjj01 {
	padding-bottom: 10px !important;
}

.loginsub {
	width: 100%;
	height: 34px;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
	color: #fff;
	background-color: #0076BD;
	border: none;
	border-radius: 4px;
}