<div class="row ct_index">
	<div class="col-sm-12">
		<div class="hbox text-center b-light">
			<a href="" class="col text-muted display-board a_pointer">
				<div class="value blue-tooltip ng-binding">
					异常用户数/总用户数 <i class="icon-question m-l-xs"
						popover="{{ci.content1}}" popover-placement="bottom"
						popover-trigger="mouseenter"></i>
				</div>
				<div class="name ng-binding">{{ci.userNum}}</div>
			</a> <a href="" class="col text-muted display-board a_pointer">
				<div class="value blue-tooltip ng-binding">
					高危用户数 <i class="icon-question m-l-xs" popover="{{ci.content2}}"
						popover-placement="bottom" popover-trigger="mouseenter"></i>
				</div>
				<div class="name ng-binding">{{ci.riskUserNum}}</div>
			</a> <a href="" class="col text-muted display-board a_pointer">
				<div class="value blue-tooltip ng-binding">
					异常访问量/总访问量 <i class="icon-question m-l-xs"
						popover="{{ci.content3}}" popover-placement="bottom"
						popover-trigger="mouseenter"></i>
				</div>
				<div class="name ng-binding">{{ci.visitNum}}</div>
			</a> <a href="" class="col text-muted display-board">
				<div class="value blue-tooltip ng-binding">
					被阻断的访问量 <i class="icon-question m-l-xs" popover="{{ci.content4}}"
						popover-placement="bottom" popover-trigger="mouseenter"></i>
				</div>
				<div class="name ng-binding">{{ci.cutVisitNum}}</div>
			</a>
		</div>
	</div>
</div>