<div class="con_bg">
	<div data-ng-include="'common/page/blocks/title.html'" class="">
	</div>

	<h5 class="evrd-h5">
		<div class="line"></div>
	</h5>

	<div data-ng-include="'insure/template/collectIndex_tpl.html'" class="">
	</div>

	<h5 class="evrd-h5">
		<span class="table-title">异常流量地域分布</span>
		<div class="line"></div>
	</h5>

	<div class="clearfix" style="padding: 0px 10px; margin-bottom: 5px;">
		<div class="btn-group  pull-left btn-group-sm"
			style="top: -10px; left: 12px;" role="group" ng-model="areaType">
			<button type="button" id="world_btn" class="btn btn-default"
				ng-click="getWorldData()">世界</button>
			<button type="button" id="china_btn" class="btn btn-default"
				ng-click="getChinaData()">中国</button>
		</div>
		<div style="clear: both;"></div>

		<div class="clearfix" id="world_map">
			<div style="float: left; width: 70%;">
				<div echarts-tag options="worldMapOption"
					style="height: 500px; width: 100%"></div>
			</div>
			<div style="float: left; width: 30%; position: relative;">
				<span
					style="position: absolute; bottom: 16px; right: 24px; font-size: 12px;">访问量(次)</span>
				<div echarts-tag options="worldBarOption" style="height: 500px;"></div>
			</div>
		</div>
		<div class="clearfix" id="china_map">
			<div style="float: left; width: 70%;">
				<div echarts-tag options="chinaMapOption"
					style="height: 500px; width: 100%"></div>
			</div>
			<div style="float: left; width: 30%; position: relative;">
				<span
					style="position: absolute; bottom: 16px; right: 24px; font-size: 12px;">访问量(次)</span>
				<div echarts-tag options="chinaBarOption" style="height: 500px;"></div>
			</div>
		</div>
	</div>

	<h5 class="evrd-h5">
		<span class="table-title">访问量趋势</span>
		<div class="line"></div>
	</h5>

	<div style="position: relative;">
		<span
			style="position: absolute; top: 20px; left: 55px; font-size: 12px;">访问量(次)</span>
		<div echarts-tag style="height: 300px;" options="areaOption"></div>
	</div>

	<h5 class="evrd-h5">
		<span class="table-title">爬虫关注点分析</span>
		<div class="line"></div>
	</h5>

	<div style="padding: 0px 35px 20px 35px;" class="clearfix">
		<button class="btn btn-default pull-right"
			style="margin-bottom: 10px;">
			<a href="javascript:;">查看全部</a>
		</button>
		<table table-directive tableoption="dataDtOpt" class="tp10h"
			instance="datatdInstance"></table>
		<!--<button class="btn btn-success re_btn"><a ui-sref="app.insure.exceptionVisitRegionDistributeDetial">查看全部</a></button>-->
	</div>
</div>