<!--头部导航信息-->
<div class="modal-header">
    <div class="btn pull-right m-t-n-xs m-l-n list-icon">
        <a>
            <i class="fa fa-mail-reply-all"></i>
        </a>
    </div>
    <div style="margin: 0px 15px">
        <h3 class="m-n font-thin h5">{{listObj.navigationMsg}} </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box-header with-border">
            <form class="navbar-form navbar-left" role="search" id = "queryForm">
                <div class="search-con">
                    <div class="form-group form-inline" style = "width:480px;">
                        <label style=" padding-left:13px;width:95px;" class="control-label input-sm">入库时间：</label>
                        <wui-date
                                format="yyyy-mm-dd hh:mm:ss"
                                placeholder="请选择或输入日期"
                                btns="{'ok':'确定','now':'此刻'}"
                                ng-model="query_params.updateTimeStart"></wui-date>
                        <label style="margin:5px 10px 5px 0;width:12px;" class="control-label input-sm">至</label>
                        <wui-date
                                format="yyyy-mm-dd hh:mm:ss"
                                placeholder="请选择或输入日期"
                                btns="{'ok':'确定','now':'此刻'}"
                                ng-model="query_params.updateTimeEnd"></wui-date>
                    </div>
                    <div class="form-group form-inline" style = "width:480px;">
                        <label style=" padding-left:13px;width:95px;" class="control-label input-sm">发表时间：</label>
                        <wui-date
                                format="yyyy-mm-dd hh:mm:ss"
                                placeholder="请选择或输入日期"
                                btns="{'ok':'确定','now':'此刻'}"
                                ng-model="query_params.createTimeStart"></wui-date>
                        <label style="margin:5px 10px 5px 0;width:12px;" class="control-label input-sm">至</label>
                        <wui-date
                                format="yyyy-mm-dd hh:mm:ss"
                                placeholder="请选择或输入日期"
                                btns="{'ok':'确定','now':'此刻'}"
                                ng-model="query_params.createTimeEnd"></wui-date>
                    </div>
                </div>

                <div class="search-con">
                    <!--<div class="form-group form-inline">
                        <label class="control-label input-sm">语言：</label>
                        <select name="language" class="form-control input-sm"  ng-model="query_params.language">
                            <option value="">&#45;&#45;请选择&#45;&#45;</option>
                            <option value="0">中文</option>
                            <option value="1">英文</option>
                        </select>
                    </div>-->
                    <div class="form-group form-inline">
                        <label class="control-label input-sm col-lg-3">文章类型：</label>
                        <select select2 class="form-control" ng-model="query_params.article_type_id" name = "article_type_id" config="publishedTypeList">
                            <option value="">请选择</option>
                            <option ng-repeat="x in publishedTypeList" value="{{x.article_type_id}}">{{x.article_type_name}}</option>
                        </select>
                    </div>
                    <div class="form-group form-inline" style = "width:380px;">
                        <label style=" padding-left:13px;width:120px;" class="control-label input-sm">字数：</label>
                        <input size="16" type="text" name="details_size_more"  ng-model="query_params.details_size_more" style = "width:100px;" class="form-control input-sm"/>
                        <label style="margin:5px 10px 5px 0;width:12px;" class="control-label input-sm">至</label>
                        <input size="16" type="text" name="details_size_less"  ng-model="query_params.details_size_less" style = "width:100px;"  class="form-control input-sm"/>
                    </div>
                </div>

                <div class="search-con">
                    <div class="form-group form-inline">
                        <label class="control-label input-sm">内容：</label>
                        <input name="message" class="form-control input-sm" placeholder="请输入" ng-model="query_params.message">
                    </div>
                    <div class="form-group form-inline">
                        <a class="btn btn-info" ng-click="query()">查询</a>
                        <a class="btn btn-default" ng-click="reset()">清除</a>
                    </div>
                </div>

            </form>
        </div>
        <div class="box-body">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="checkAll()">全部选择</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="uncheckAll()">全部取消</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="batchDownload()">批量下载</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="batchDelete()">批量删除</button>
            </div>
            <table table-directive tableoption="tableOption" instance="tableInstance" id="articleTb"
                   style="height: 286px"></table>
        </div>
    </div>
</div>
