<!--头部导航信息-->
<div class="modal-header">
    <div class="btn pull-right m-t-n-xs m-l-n list-icon">
        <a>
            <i class="fa fa-mail-reply-all"></i>
        </a>
    </div>
    <div style="margin: 0px 15px">
        <h3 class="m-n font-thin h5">{{listObj.navigationMsg}} </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box-header with-border">
            <form class="navbar-form navbar-left" role="search" id = "queryForm">


                <div class="search-con">
                    <div class="form-group form-inline">
                        <a class="btn btn-default"  ng-click="hour()">按小时</a>
                        <a class="btn btn-default" ng-click="day()">按天</a>
                        <a class="btn btn-default" ng-click="week()">按周</a>
                        <a class="btn btn-default" ng-click="month()">按月</a>
                    </div>
                    <div class="form-group form-inline" style = "width:460px;">
                        <label style=" padding-left:13px;width:95px;" class="control-label input-sm">时间：</label>
                        <input type="text" style = "width:150px;height:30px;border-color:#CCCCCC;padding-left:5px;font-size:12px;" id="startTime" name="startTime" class="Wdate" readonly="readonly"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'1900-01-01',maxDate:'#F{$dp.$D(\'endTime\')||\'2099-12-31\'}'})"/>
                        <label style="margin:5px 10px 5px 0;width:12px;" class="control-label input-sm">至</label>
                        <input type="text" style = "width:150px;height:30px;border-color:#CCCCCC;padding-left:5px;font-size:12px;" id="endTime" name="endTime" class="Wdate" readonly="readonly"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')||\'1900-01-01\'}',maxDate:'#F{\'2099-12-31\'}'})"/>
                    </div>
                    <div echarts barverticaldata="pieOption1" style="height: 220px;"></div>
                    <div echarts barverticaldata="pieOption2" style="height: 220px;"></div>
                    <div echarts barverticaldata="pieOption3" style="height: 220px;"></div>
                    <!--<echarts piedata="poptions2" style="height: 220px;"></echarts>-->
                    <!--<echarts piedata="poptions3" style="height: 220px;"></echarts>-->
                    <div class="form-group form-inline">
                        <label class="control-label input-sm">文章分类：</label>
                        <select name="article_type" id = "article_type" class="form-control input-sm" required>
                            <option ng-repeat="x in publishedTypeList" value="{{x.article_type_id}}">{{x.article_type_name}}</option>
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label input-sm">内容：</label>
                        <input name="articleTitle" class="form-control input-sm" placeholder="请输入">
                    </div>
                    <div class="form-group form-inline">
                        <a class="btn btn-info" ng-click="query()">查询</a>
                        <a class="btn btn-default" ng-click="reset()">清除</a>
                    </div>

                </div>



            </form>
        </div>

        <div class="box-body">
            <table table-directive tableoption="tableOption" instance="tableInstance"
                   style="height: 286px"></table>
        </div>
    </div>
</div>


<script src="./vendor/echarts/echarts-all.js"></script>

<script type="text/ng-template" id="myModalContent.html">
    <div id="mapModel" ng-include="'insure/template/policy/mapAddressmodal.html'"></div>
</script>

