<!--头部导航信息-->
<div class="modal-header">
    <div class="btn pull-right m-t-n-xs m-l-n list-icon">
<!--
        <a ui-sref="{{listObj.pre_location}}">
-->
        <a ng-click="goPreLocation()">
            <i class="fa fa-mail-reply-all"></i>
        </a>
    </div>
    <div style="margin: 0px 15px">
        <h3 class="m-n font-thin h5">{{listObj.navigationMsg}} </h3>
    </div>
</div>

<!--内容区-->
<div class="wrapper-md">
    <div class="modal-body" style="padding: 0;">
        <form class="form-horizontal m-b-md" id="add_integration"
              name="addIntegrationFormValidate" novalidate>

            <div class="form-group" ng-hide="listObj.type == '1' && listObj.integrationQuery.article_title==''&& listObj.integrationQuery.article_title_e!=''">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span class="text-danger m-r-xs font-bold as-star">*</span>标题</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="text" class="form-control"
                           ng-model="listObj.integrationQuery.article_title" value="请输入标题" id="article_title"/>
                </div>
            </div>
            <div class="form-group" ng-show="listObj.type == '1' && listObj.integrationQuery.article_title_e!=''">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span class="text-danger m-r-xs font-bold as-star">*</span>英文标题</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="text" class="form-control"
                           ng-model="listObj.integrationQuery.article_title_e" value="请输入英文标题" id="article_title_e"/>
                </div>
            </div>
            <div class="form-group" ng-show="listObj.type == '1'">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star"></span>期刊名称</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="text" class="form-control"
                           ng-model="listObj.integrationQuery.posting_name" ng-disabled="1==1" id="posting_name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star">*</span>类型</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <!--<select name="article_type_id" id = "article_type_id" class="selectpicker show-tick form-control input-sm" data-live-search="true"  ng-model="listObj.integrationQuery.article_type_id">
                        <option ng-repeat="x in listObj.articleTypeData" ng-selected="listObj.integrationQuery.article_type_id==x.article_type_id" value="{{x.article_type_id}}">{{x.article_type_name}}</option>
                    </select>-->
                    <select select2 style="width: 100%;" class="form-control" ng-model="listObj.integrationQuery.article_type_id" name = "article_type_id" config="listObj.articleTypeData">
                        <option value="">请选择</option>
                        <option ng-repeat="x in listObj.articleTypeData" value="{{x.article_type_id}}">{{x.article_type_name}}</option>
                    </select>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star">*</span>来源</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" id="source"
                           ng-model="listObj.integrationQuery.source" value="请输入来源"
                           required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star"></span>发表时间</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <wui-date
                            format="yyyy-mm-dd"
                            placeholder="请选择或输入日期"
                            btns="{'ok':'确定','now':'今天'}"
                            ng-model="listObj.integrationQuery.create_time"></wui-date>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star"></span>入库时间</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <wui-date
                            format="yyyy-mm-dd"
                            placeholder="请选择或输入日期"
                            btns="{'ok':'确定','now':'今天'}"
                            ng-model="listObj.integrationQuery.update_time"></wui-date>
                </div>
            </div>

            <div class="form-group">
                <div ng-hide="listObj.type == '1' && listObj.integrationQuery.author==''&& listObj.integrationQuery.author_e!=''">
                    <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0">
                        <span class="text-danger m-r-xs font-bold as-star"></span>作者</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <input type="text" class="form-control" name="itName"
                               ng-model="listObj.integrationQuery.author" value="请输入作者"/>
                    </div>
                </div>
                <div ng-show="listObj.type == '1' && listObj.integrationQuery.author_e!=''">
                    <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0">
                        <span class="text-danger m-r-xs font-bold as-star"></span>英文作者</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <input type="text" class="form-control"  ng-model="listObj.integrationQuery.author_e" value="请输入英文作者"/>
                    </div>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star"></span>字数</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <input type="number" class="form-control" ng-model="listObj.integrationQuery.word_count" value="请输入字数"/>
                </div>
            </div>
            <div class="form-group" ng-hide="listObj.type == '1' && listObj.integrationQuery.article_keyword==''&& listObj.integrationQuery.article_keyword_e!=''">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span class="text-danger m-r-xs font-bold as-star">*</span>关键词</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="text" class="form-control" id="article_keyword"
                           id="policy_code" value="请输入关键词"
                           ng-model="listObj.integrationQuery.article_keyword" required/>
                </div>
            </div>
            <div class="form-group"  ng-show="listObj.type == '1' && listObj.integrationQuery.article_keyword_e!=''">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span class="text-danger m-r-xs font-bold as-star">*</span>英文关键词</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="text" class="form-control" id="article_keyword_e" value="请输入关键词"
                           ng-model="listObj.integrationQuery.article_keyword_e"/>
                </div>
            </div>
            <div class="form-group" ng-hide="listObj.type == '1' && listObj.integrationQuery.content_excerpt==''&& listObj.integrationQuery.content_excerpt_e!=''">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span class="text-danger m-r-xs font-bold as-star">*</span>摘要</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                   <textarea class="form-control" rows="3"
                             ng-model="listObj.integrationQuery.content_excerpt"
                             value="请输入摘要" id="content_excerpt"></textarea>
                </div>
            </div>
            <div class="form-group"  ng-show="listObj.type == '1' && listObj.integrationQuery.content_excerpt_e!=''">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span class="text-danger m-r-xs font-bold as-star">*</span>英文摘要</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                   <textarea class="form-control" rows="3"
                             ng-model="listObj.integrationQuery.content_excerpt_e"
                             value="请输入摘要" id="content_excerpt_e"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span
                        class="text-danger m-r-xs font-bold as-star">*</span>正文</label>
                <div class="col-sm-10">
                    <div id="weEditor" ng-model="listObj.integrationQuery.content" id ="content"></div>
                </div>
            </div>

            <div class="form-group" ng-show="listObj.type == '1'">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star"></span>参考文献</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                   <textarea class="form-control" rows="3"
                             ng-model="listObj.integrationQuery.reference" value="请输入参考文献"
                             name="special_appointment" id="reference"></textarea>
                </div>
            </div>

            <!-- 分享基数 收藏基数-->
            <!--
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star"></span>领域</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <ui-select ng-model="listObj.region.selected"
                               on-select="listObj.getRegionSelect($item)"
                               theme="bootstrap">
                        <ui-select-match
                                placeholder="{{'请选择领域' | translate}}">
                            {{$select.selected.article_type_name}}
                        </ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="item in listObj.projectData | filter: $select.search">
                            <span ng-bind-html="item.article_type_name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star"></span>分享基数</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <input type="number" class="form-control" name="itName"
                           ng-model="listObj.integrationQuery.share_initcount" value="请输入分享基数"
                           required/>
                </div>

                <label class="col-lg-1 col-md-1 col-sm-1 control-label padder-l-0"><span
                        class="text-danger m-r-xs font-bold as-star"></span>收藏基数</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <input type="number" class="form-control" name="itName"
                           ng-model="listObj.integrationQuery.collect_count" value="请输入收藏基数"
                           required/>
                </div>
            </div>-->

        </form>
    </div>
    <div class="modal-footer"  ng-show="listObj.operate_type == 'edit'">
        <!--<span class="_color_red pull-left">{{error_msg}}</span>-->
        <button type="button" class="btn btn-default btn-danger" ng-click="operate.delete()">删除</button>
        <button type="button" class="btn btn-default btn-success" ng-click="operate.check()"  ng-show="listObj.check_type == '0'">审核</button>
        <button type="button" class="btn btn-default btn-warning" ng-click="operate.save()">保存</button>
        <button type="button" class="btn btn-default btn-info" ng-click="operate.publish()" ng-show="listObj.tmp_type == '1'">发布</button>
    </div>

</div>
