<!--头部导航信息-->
<div class="modal-header">
    <div class="btn pull-right m-t-n-xs m-l-n list-icon">
        <a ui-sref="app.insure.integration_processManage"> <i
                class="fa fa-mail-reply-all"></i>
        </a>
    </div>
    <div style="margin: 0px 15px">
        <h3 class="m-n font-thin h5">{{listObj.navigationMsg}} </h3>
    </div>
</div>
<div class="" style="margin-top: 20px;margin-left: 20px;">
    <div class="col-md-4 col-sm-4 padder-l-0 m-b-md">
        <label class="col-md-3 col-sm-2 control-label padder-l-0">入库时间：</label>
        <div class="col-md-9 col-sm-10 padder-l-0">
            <input type="text" class="form-control"
                   ng-model="listObj.integrationQuery.domain_name">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 padder-l-0 m-b-md">
        <label class="col-md-3 col-sm-2 control-label padder-l-0">发表时间：</label>
        <div class="col-md-9 col-sm-10 padder-l-0">
            <input type="text" class="form-control"
                   ng-model="listObj.integrationQuery.domain_name">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 padder-l-0 m-b-md">
        <label class="col-md-3 col-sm-2 control-label padder-l-0">分数：</label>
        <div class="col-md-9 col-sm-10 padder-l-0">
            <input type="text" class="form-control"
                   ng-model="listObj.integrationQuery.domain_name">
        </div>
    </div>
    <div class="col-md-12 col-sm-12 padder-l-0 m-b-md">
    </div>

    <div class="col-md-3 col-sm-3 padder-l-0 m-b-md">
        <label class="col-md-5 col-sm-4 control-label padder-l-0">是否审核：</label>
        <div class="col-md-7 col-sm-8 padder-l-0">
            <input type="text" class="form-control"
                   ng-model="listObj.integrationQuery.domain_name">
        </div>
    </div>
    <div class="col-md-3 col-sm-3 padder-l-0 m-b-md">
        <label class="col-md-3 col-sm-2 control-label padder-l-0">语言：</label>
        <div class="col-md-9 col-sm-10 padder-l-0">
            <input type="text" class="form-control"
                   ng-model="listObj.integrationQuery.domain_name">
        </div>
    </div>
    <div class="col-md-3 col-sm-3 padder-l-0 m-b-md">
        <label class="col-md-3 col-sm-2 control-label padder-l-0">字数：</label>
        <div class="col-md-9 col-sm-10 padder-l-0">
            <input type="text" class="form-control"
                   ng-model="listObj.integrationQuery.domain_name">
        </div>
    </div>
    <div class="col-md-3 col-sm-3 padder-l-0 m-b-md">
        <label class="col-md-3 col-sm-2 control-label padder-l-0">类型：</label>
        <div class="col-md-9 col-sm-10 padder-l-0">
            <input type="text" class="form-control"
                   ng-model="listObj.integrationQuery.domain_name">
        </div>
    </div>
    <!--<div class="col-md-8 col-sm-12 padder-l-0 m-b-md">-->
        <!--<label class=" col-sm-2 control-label padder-l-0" style="width:8.7%;margin-top: 3px;margin-left: 20px">入库时间：</label>-->
        <!--<div class="col-md-6 col-sm-16 padder-l-0">-->
            <!--<input type="text" class="form-control" ng-model="listObj.seachMessage">-->
        <!--</div>-->
        <!--<label class=" col-sm-2 control-label padder-l-0" style="width:8.7%;margin-top: 3px;margin-left: 20px">发表时间：</label>-->
        <!--<div class="col-md-6 col-sm-16 padder-l-0">-->
            <!--<input type="text" class="form-control" ng-model="listObj.seachMessage">-->
        <!--</div>-->
        <!--<label class=" col-sm-2 control-label padder-l-0" style="width:8.7%;margin-top: 3px;margin-left: 20px">分数：</label>-->
        <!--<div class="col-md-6 col-sm-16 padder-l-0">-->
            <!--<input type="text" class="form-control" ng-model="listObj.seachMessage">-->
        <!--</div>-->
        <!--<label class=" col-sm-2 control-label padder-l-0" style="width:8.7%;margin-top: 3px;margin-left: 20px">是否审核：</label>-->
        <!--<div class="col-md-6 col-sm-16 padder-l-0">-->
            <!--<input type="text" class="form-control" ng-model="listObj.seachMessage">-->
        <!--</div>-->
        <!--<label class=" col-sm-2 control-label padder-l-0" style="width:8.7%;margin-top: 3px;margin-left: 20px">语言：</label>-->
        <!--<div class="col-md-6 col-sm-16 padder-l-0">-->
            <!--<input type="text" class="form-control" ng-model="listObj.seachMessage">-->
        <!--</div>-->
        <!--<label class=" col-sm-2 control-label padder-l-0" style="width:8.7%;margin-top: 3px;margin-left: 20px">字数：</label>-->
        <!--<div class="col-md-6 col-sm-16 padder-l-0">-->
            <!--<input type="text" class="form-control" ng-model="listObj.seachMessage">-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-md-8 col-sm-12 padder-l-0 m-b-md">
        <!--<label class=" col-sm-2 control-label padder-l-0" style="width:8.7%;margin-top: 3px;margin-left: 20px">搜索内容</label>-->
        <!--<div class="col-md-6 col-sm-16 padder-l-0">-->
            <!--<input type="text" class="form-control"-->
                   <!--ng-model="listObj.seachMessage">-->
        <!--</div>-->
        <label class="col-md-2 col-sm-2 control-label padder-l-0">搜索内容：</label>
        <div class="col-md-4 col-sm-4 padder-l-0">
            <input type="text" class="form-control"
                   ng-model="listObj.seachMessage">
        </div>

        <button class="btn m-b-xs w-xs btn-default"
                ng-disabled="searchuserForm.$invalid"
                ng-click="listObj.seach()"
                style="position: relative; left: 15px;">搜索
        </button>
        <button class="btn m-b-xs w-xs btn-default"
                ng-disabled="searchuserForm.$invalid"
                ng-click="listObj.clear()"
                style="position: relative; left: 15px;">清空
        </button>
    </div>
</div>


<!--内容区-->
<div class="wrapper-md">
    <table table-directive tableoption="testOption" id="testArticle" instance="testInstance"
           style="height: 286px"></table>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div id="mapModel" ng-include="'insure/template/policy/mapAddressmodal.html'"></div>
</script>

