<!--头部导航信息-->
<div class="modal-header">
    <div class="btn pull-right m-t-n-xs m-l-n list-icon">
        <a>
            <i class="fa fa-mail-reply-all"></i>
        </a>
    </div>
    <div style="margin: 0px 15px">
        <h3 class="m-n font-thin h5">{{listObj.navigationMsg}} </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="navbar-form navbar-left" role="search" id = "queryForm">
                    <div class="search-con">
                        <div class="form-group form-inline">
                            <label class="control-label input-sm">数据类型：</label>
                            <select id="dataType" name="dataType" class="form-control input-sm" ng-init="query_params.dataType='0'"
                                    ng-model="query_params.dataType"  ng-change="changeDataType()">
                                <option value="0" selected>未发布</option>
                                <option value="1">已发布</option>
                            </select>
                        </div>
                    </div>

                    <div class="search-con">
                        <div class="form-group form-inline">
                            <label class="control-label input-sm col-lg-3">类型：</label>
                            <!--<select name="article_type_id" id = "article_type_id" class="selectpicker show-tick form-control input-sm col-lg-9" data-live-search="true"  ng-model="query_params.article_type_id">
                                <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                <option ng-repeat="x in publishedTypeList" ng-selected="query_params.article_type_id==x.article_type_id" value="{{x.article_type_id}}">{{x.article_type_name}}</option>
                            </select>-->

                            <select select2 style="width: 100%;" class="form-control" ng-model="query_params.article_type_id" name = "article_type_id" config="publishedTypeList">
                                <option value="">请选择</option>
                                <option ng-repeat="x in publishedTypeList" value="{{x.article_type_id}}">{{x.article_type_name}}</option>
                            </select>
                        </div>
                        <div class="form-group form-inline">
                            <label class="control-label input-sm">语言：</label>
                            <select name="language" class="form-control input-sm" ng-model="query_params.language">
                                <option value="">--请选择--</option>
                                <option value="0" ng-selected="query_params.article_type_id=='0'">中文</option>
                                <option value="1" ng-selected="query_params.article_type_id=='1'">英文</option>
                            </select>
                        </div>
                        <div class="form-group form-inline">
                            <label class="control-label input-sm">内容：</label>
                            <input name="message" class="form-control input-sm" placeholder="请输入" ng-model="query_params.message">
                        </div>
                        <div class="form-group form-inline">
                            <a class="btn btn-info" ng-click="query()">查询</a>
                            <a class="btn btn-default" ng-click="reset()">清除</a>
                            <a class="btn btn-danger" ng-click="clearRecycle()">清空回收站</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="font-weight: bolder;">类型</div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" ng-click="checkAll(2)">全部选择</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="uncheckAll(2)">全部取消</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="batchRecover(2)">批量恢复</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="batchDelete(2)">批量删除</button>
                </div>
                <table table-directive tableoption="typeOption" instance="typeInstance" style="height: 286px"></table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="font-weight: bolder;">关键词</div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" ng-click="checkAll(3)">全部选择</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="uncheckAll(3)">全部取消</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="batchRecover(3)">批量恢复</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="batchDelete(3)">批量删除</button>
                </div>
                <table table-directive tableoption="keywordOption" instance="keywordInstance" style="height: 286px"></table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="font-weight: bolder;">微信文章</div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" ng-click="checkAll(0)">全部选择</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="uncheckAll(0)">全部取消</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="batchRecover(0)">批量恢复</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="batchDelete(0)">批量删除</button>
                </div>
                <table table-directive tableoption="articleOption" instance="articleInstance" style="height: 286px"></table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body" style="font-weight: bolder;">学术论文</div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" ng-click="checkAll(1)">全部选择</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="uncheckAll(1)">全部取消</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="batchRecover(1)">批量恢复</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="batchDelete(1)">批量删除</button>
                </div>
                <table table-directive tableoption="paperOption" instance="paperInstance" style="height: 286px"></table>
            </div>
        </div>
    </div>
</div>
