<div class="modal-header" xmlns="http://www.w3.org/1999/html">
	<div class="btn  pull-right m-t-n-xs m-l-n list-icon">
		<a ui-sref="app.insure.sysManage_userRightsManange"
			href="#/app/insure/sysManage_userRightsManange"> <i
			class="fa fa-mail-reply-all"></i>
		</a>
	</div>
	<h3 class="modal-title">{{title | translate}}</h3>
</div>
<div class="modal-body">
	<form name="formValidate" class="form-horizontal" novalidate>
		<div class="form-group" ng-if="isShowForSuper && isVisible">
			<label class="col-sm-3 control-label"><span
				class="text-danger m-r-xs font-bold as-star">*</span>{{"userRightManage.addUser.group"
				| translate}}：</label>
			<div class="col-sm-6" style="padding-top: 5px">
				<input type="radio" name="group" ng-model="formparam.group"
					value="1" ng-change="formparam.groupSelectChanged()">&#12288;{{"userRightManage.addUser.otherGroup"
				| translate}}</input> &#12288; <input type="radio" name="group"
					ng-model="formparam.group" value="0"
					ng-change="formparam.groupSelectChanged()" checked>&#12288;{{"userRightManage.addUser.ourGroup"
				| translate}}</input>
			</div>
		</div>
		<div class="form-group" ng-if="isVisible">
			<label class="col-sm-3 control-label"><span
				class="text-danger m-r-xs font-bold as-star">*</span>{{"userRightManage.addUser.isWorker"
				| translate}}：</label>
			<div class="col-sm-6" style="padding-top: 5px">
				<input type="radio" name="isWorker" ng-model="formparam.isWorker"
					value="worker" ng-change="formparam.groupSelectChanged()">&#12288;{{"userRightManage.addUser.worker"
				| translate}}&#12288;&#12288;</input> &#12288; <input type="radio"
					name="isWorker" ng-model="formparam.isWorker" value="customer"
					ng-change="formparam.groupSelectChanged()" checked>&#12288;{{"userRightManage.addUser.customer"
				| translate}}&#12288;</input>
			</div>
		</div>
		<div class="form-group" ng-if="isShowForOther">
			<label class="col-sm-3 control-label"><span
				class="text-danger m-r-xs font-bold as-star">*</span>{{"userRightManage.addUser.groupName"
				| translate}}：</label>
			<div class="col-sm-6">
				<input type="text" ng-readonly="true" name="userGroup"
					id="userGroup" class="form-control"
					placeholder="{{'userRightManage.addUser.groupNamePlaceholder' | translate}}"
					ng-click="userGroupOnFocus()" required>
				<div class="error"
					ng-show="formValidate.userGroup.$dirty && formValidate.userGroup.$invalid">
					<small class="error a-red"
						ng-show="formValidate.userGroup.$error.required"></small>
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="isShowForSuper">
			<label class="col-sm-3 control-label"><span
				class="text-danger m-r-xs font-bold as-star">*</span>{{"userRightManage.addUser.isVIP"
				| translate}}：</label>
			<div class="col-sm-6" style="padding-top: 5px">
				<input type="radio" name="isVip" ng-model="formparam.isVip"
					value="1" ng-change="formparam.userVipSelectChanged()">&#12288;{{"common.yes"
				| translate}}&#12288;&#12288;</input> &#12288; <input type="radio"
					name="isVip" ng-model="formparam.isVip" value="0"
					ng-change="formparam.userVipSelectChanged()" checked>&#12288;{{"common.no"
				| translate}}&#12288;</input>
			</div>
		</div>
		<div class="form-group" ng-if="isShowForSuper">
			<label class="col-sm-3 control-label" ng-if="formparam.isVip == '1'">
				<span class="text-danger m-r-xs font-bold as-star">*</span>使用期至：
			</label> <label class="col-sm-3 control-label" ng-if="formparam.isVip != '1'">
				<span class="text-danger m-r-xs font-bold as-star">*</span>试用期至：
			</label>
			<div class="col-sm-6" style="padding-top: 5px">
				<input id="expireDate" value={{formparam.expireDate}}
					style="width: 200px" type="text"
					onfocus="WdatePicker({dateFmt:'yyyy/MM/dd'})" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"><span
				class="text-danger m-r-xs font-bold as-star">*</span>{{"userRightManage.addUser.userName"
				| translate}}：</label>
			<div class="col-sm-4" style="padding-right: 0px">
				<input name="userName" ng-minlength="3" ng-maxlength="20"
					ng-model="formparam.userName" type="text"
					placeholder="{{'userRightManage.addUser.userNamePlaceholder' | translate}}"
					class="form-control" required />
				<div class="error"
					ng-show="formValidate.userName.$dirty && formValidate.userName.$invalid">
					<small class="error a-red"
						ng-show="formValidate.userName.$error.required">
						{{"userRightManage.addUser.userName" |
						translate}}{{"common.validate.notNull" | translate}} </small> <small
						class="error a-red"
						ng-show="formValidate.userName.$error.minlength">
						{{"userRightManage.addUser.userName" |
						translate}}{{"common.validate.noLessThen" |
						translate}}{{"3Characters" | translate}} </small> <small
						class="error a-red"
						ng-show="formValidate.userName.$error.maxlength">
						{{"userRightManage.addUser.userName" |
						translate}}{{"common.validate.noMoreThen" |
						translate}}{{"20Characters" |translate}} </small>
				</div>
			</div>
			<label class="control-label" name="suffixUserName"
				ng-modal="formparam.suffixUserName" style="font-size: 16px">{{formparam.suffixUserName}}</label>
		</div>
		<div class="form-group" ng-if="isVisible">
			<label class="col-sm-3 control-label"><span
				class="text-danger m-r-xs font-bold as-star">*</span>{{"userRightManage.addUser.password"
				| translate}}：</label>
			<div class="col-sm-6">
				<input name="password" ng-model="formparam.password"
					ng-minlength="6" ng-maxlength="20" type="password"
					placeholder="{{'userRightManage.addUser.passwordPlaceholder' | translate}}"
					class="form-control" required />
				<div class="error"
					ng-show="formValidate.password.$dirty && formValidate.password.$invalid">
					<small class="error a-red"
						ng-show="formValidate.password.$error.required">
						{{"userRightManage.addUser.password" |
						translate}}{{"common.validate.notNull" | translate}} </small> <small
						class="error a-red"
						ng-show="formValidate.password.$error.minlength">
						{{"userRightManage.addUser.password" |
						translate}}{{"common.validate.noLessThen" |
						translate}}{{"common.validate.6Characters" | translate}} </small> <small
						class="error a-red"
						ng-show="formValidate.password.$error.maxlength">
						{{"userRightManage.addUser.password" |
						translate}}{{"common.validate.noMoreThen" |
						translate}}{{"common.validate.20Characters" | translate}} </small>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">{{"userRightManage.addUser.phone"
				| translate}}：</label>
			<div class="col-sm-6">
				<input name="phone" ng-pattern="/^1[3|5|7|8|][0-9]{9}$/"
					ng-model="formparam.phone" type="text"
					placeholder="{{'userRightManage.addUser.phonePlaceholder' | translate}}"
					class="form-control" />
				<div class="error"
					ng-show="formValidate.phone.$dirty && formValidate.phone.$invalid">
					<small class="error a-red"
						ng-show="formValidate.phone.$error.pattern">
						{{"userRightManage.addUser.wrongPhoneNum" | translate}} </small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"><span
				class="text-danger m-r-xs font-bold as-star">*</span>{{"userRightManage.addUser.email"
				| translate}}：</label>
			<div class="col-sm-6">
				<input name="email" ng-model="formparam.email" type="email"
					placeholder="{{'userRightManage.addUser.emailPlaceholder' | translate}}"
					class="form-control" required />
				<div class="error"
					ng-show="formValidate.email.$dirty && formValidate.email.$invalid">
					<small class="error a-red"
						ng-show="formValidate.email.$error.required">
						{{"userRightManage.addUser.email" |
						translate}}{{"common.validate.notNull" | translate}} </small> <small
						class="error a-red" ng-show="formValidate.email.$error">
						{{"userRightManage.addUser.wrongEmail" | translate}} </small>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<span class="_color_red pull-left">{{error_msg}}</span>
	<button class="btn btn-default" ng-click="reset()">{{"common.btn.resetBtn"
		| translate}}</button>
	<button class="btn btn-blue" ng-disabled="formValidate.$invalid"
		ng-click="ok($event)">{{"common.btn.okBtn" | translate}}</button>
</div>
<script type="text/ng-template" id="myModalContent.html">
	<div ng-include="'common/page/modal/select_group.html'"></div>
</script>