<div class="modal-header">
	<h3 class="modal-title">{{title | translate}}</h3>
</div>
<div class="modal-body">
	<form name="formValidate" class="form-horizontal" novalidate>

		<div class="form-group">
			<label class="col-sm-3 control-label"><span
				class="text-danger m-r-xs font-bold as-star">*</span>{{"roleManage.roleName"
				| translate}}：</label>
			<div class="col-sm-6">
				<input name="roleName" ng-minlength="3" ng-maxlength="20"
					ng-model="formparam.roleName" type="text"
					placeholder="{{'roleManage.roleNamePlaceholder' | translate}}"
					class="form-control" required />
				<div class="error"
					ng-show="formValidate.roleName.$dirty && formValidate.roleName.$invalid">
					<small class="error"
						ng-show="formValidate.roleName.$error.required">
						{{"common.validate.notNull" | translate}} </small> <small class="error"
						ng-show="formValidate.roleName.$error.minlength">
						{{"roleManage.roleName" |
						translate}}{{"common.validate.noLessThen" |
						translate}}{{"3Characters" | translate}} </small> <small class="error"
						ng-show="formValidate.roleName.$error.maxlength">
						{{"roleManage.roleName" |
						translate}}{{"common.validate.noMoreThen" |
						translate}}{{"20Characters" | translate}} </small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">{{"roleManage.description"
				| translate}}：</label>
			<div class="col-sm-6">
				<!--<input name="password" ng-model="formparam.password" ng-minlength="6" ng-maxlength="20" type="text" placeholder="请输入角色描述" class="form-control" required />-->
				<textarea name="roleNote" ng-model="formparam.roleNote"
					class="form-control"></textarea>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<span class="_color_red pull-left">{{error_msg}}</span>
	<button class="btn btn-default" ng-click="cancel()">{{"common.btn.cancelBtn"
		| translate}}</button>
	<button class="btn btn-blue" ng-disabled="formValidate.$invalid"
		ng-click="ok($event)">{{"common.btn.okBtn" | translate}}</button>
</div>