<div class="box" id="logindiv">
	<!--<div class="navbar-collapse">
        <div class="col-lg-2 pull-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
                    <a href class="dropdown-toggle" dropdown-toggle>
                        {{selectLang}} <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu animated fadeInRight w">
                        <li ng-repeat="(langKey, label) in langs">
                            <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>-->
	<div class="JBYlogin">
		<div class="dlbg">
			<form>
				<!--<div class="dlBT" translate="天气保险服务平台">-->
				<!--{{"天气保险服务平台" | translate}}-->
				<!--</div>-->
				<!--<div class="dlBT" >{{login_title}}</div>-->
				<div class="dlBT">
					<a href>风云极轨卫星管理平台</a>
				</div>
				<ul>
					<li class="dlinput01"><input
						placeholder={{userNamePlaceholder}} id="input_email_address"
						name="email" type="text" ng-model="user.userName" /></li>
					<div style="clear: both;"></div>
				</ul>
				<ul>
					<li class="dlinput02"><input placeholder={{pwdPlaceholder}}
						type="password" ng-model="user.passWord" /></li>
					<!-- <li class="login_link">
                         <a href
                           class="pull-right"
                           ng-href="#forget_password" translate="忘记密码？">{{"忘记密码？" | translate}}</a>
                    </li>-->
				</ul>
				<ul class="dlbgjj">
					<li class="dlinput03">
						<!--<a href
                           ng-click="login()"><img
                                width="256"
                                src="insure/page/login/images/inputbg02.png"/></a>-->
						<input ng-click="login()" class="loginsub" type="submit"
						translate="登录" value="{{login_btn}}">
					</li>
					<!-- <li class="login_link">
                        <span class="_color_red">{{error_msg}}</span>
                         <a href
                           class="pull-right"
                           ng-href="#appregister" translate="免费注册">{{"免费注册" | translate}}</a>
                    </li>-->
					<!-- <li ng-repeat="(langKey, label) in langs">
                            <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
                        </li> -->
				</ul>

				<div>
					<span class="_color_red _cr_span">{{sessionError}}</span>
				</div>
				<div>
					<span class="_color_red _cr_span">{{error_msg}}</span>
				</div>
			</form>
		</div>

		<div style="clear: both;"></div>
	</div>
	<!--<img class="login_img" style="z-index:-9999;" src="insure/page/login/images/bg.png"/>-->

	<div style="clear: both;"></div>
</div>