<div style="padding: 0px 20px;">
	<div data-ng-include="'common/page/blocks/title.html'" class="">
	</div>
</div>

<h5 class="evrd-h5">
	<div class="line"></div>
</h5>

<div style="padding: 10px 20px 0px 20px; position: relative;">
	<div class="clearfix m-b-md"
		style="position: absolute; top: 10px; right: 20px; z-index: 1;">
		<!-- btn-common-->
		<button route-flag="resourceAdd" btn-flag="button"
			class="btn btn-default pull-right" ng-click="addMenu()">
			<i class="fa fa-plus"></i>&#12288;{{"新增资源" | translate}}
		</button>
	</div>
	<div class="clearfix">
		<div class="col-lg-6" style="width: 30%;">
			<div class="col-title">{{"资源列表" | translate}}</div>
			<div class="bg-white wrapper-md">
				<div id="treeboxbox_tree"
					style="height: 274px; background-color: #f5f5f5; border: 1px solid Silver; overflow: auto;"></div>
			</div>
		</div>
		<div class="col-lg-6" style="width: 70%; border-left: solid 1px #ccc;">
			<div class="col-title">
				{{"资源详情" | translate}}&nbsp;&nbsp;&nbsp;<span ng-show="optflag"
					style="color: #428bca;">当前您正在<span style="color: red;">{{optctx}}</span>资源...
				</span>
			</div>
			<div class="bg-white wrapper-md">
				<form id="form_menu" name="formValidate" class="form-horizontal"
					novalidate>
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							class="text-danger m-r-xs font-bold as-star"></span>{{"公司名称" |
							translate}}：</label>
						<div class="col-sm-6">
							<input name="companyName" type="text" ng-readonly="true"
								id="companyName" ng-click="moduleOpen()" class="form-control"
								placeholder="请选择公司">

							<!--<div class="error"  ng-show="formValidate.companyName.$dirty && formValidate.companyName.$invalid">-->
							<!--<small class="error" ng-show="formValidate.companyName.$error.required">-->
							<!--{{'不能为空' | translate}}-->
							<!--</small>-->
							<!--</div>-->
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							class="text-danger m-r-xs font-bold as-star">*</span>{{"资源名称" |
							translate}}：</label>
						<div class="col-sm-6">
							<input name="menuName" ng-model="formparam.menuName" type="text"
								class="form-control" required />
							<div class="error"
								ng-show="formValidate.menuName.$dirty && formValidate.menuName.$invalid">
								<small class="error"
									ng-show="formValidate.menuName.$error.required">
									{{'不能为空' | translate}} </small>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{"上级资源名称" |
							translate}}：</label>
						<div class="col-sm-6">
							<input name="parentMenuName" ng-model="formparam.parentMenuName"
								type="text" class="form-control" readonly="readonly" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{"图标" |
							translate}}：</label>
						<div class="col-sm-6">
							<input name="menuIcon" ng-model="formparam.menuIcon" type="text"
								class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							class="text-danger m-r-xs font-bold as-star">*</span>{{"叶子节点" |
							translate}}：</label>
						<div class="col-sm-6 radio">
							<label style="padding-top: 5px;" ng-click="leafYes()"> <input
								style="margin-top: 3px;" name="isLeaf" value="1"
								ng-model="formparam.isLeaf" type="radio" /> <span>{{"是"
									| translate}}</span>
							</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label
								style="padding-top: 5px;" ng-click="leafNo()"> <input
								style="margin-top: 3px;" name="isLeaf" value="2"
								ng-model="formparam.isLeaf" type="radio" /> <span>{{"否"
									| translate}}</span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							class="text-danger m-r-xs font-bold as-star">*</span>{{"链接地址" |
							translate}}：</label>
						<div class="col-sm-6">
							<input name="actionUrl" ng-model="formparam.actionUrl"
								type="text" placeholder="{{'请输入链接地址' | translate}}"
								class="form-control" required />
							<div class="error"
								ng-show="formValidate.actionUrl.$dirty && formValidate.actionUrl.$invalid">
								<small class="error" ng-show="formValidate.actionUrl.$error">
									{{'不能为空' | translate}} </small>
								<!--<small class="error" ng-show="formValidate.actionUrl.$error">
                                    url格式不正确
                                </small>-->
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							class="text-danger m-r-xs font-bold as-star">*</span>{{"资源排序" |
							translate}}：</label>
						<div class="col-sm-6">
							<input name="menuSort" ng-model="formparam.menuSort"
								type="number" class="form-control" required />
							<div class="error"
								ng-show="formValidate.menuSort.$dirty && formValidate.menuSort.$invalid">
								<small class="error" ng-show="formValidate.menuSort.$error">
									{{'不能为空' | translate}} </small>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							class="text-danger m-r-xs font-bold as-star">*</span>{{"资源状态" |
							translate}}：</label>
						<div class="col-sm-6 radio">
							<label style="padding-top: 5px;"> <input
								style="margin-top: 3px;" name="menuStatus" value="1"
								ng-model="formparam.menuStatus" type="radio" /> <span>{{"启用"
									| translate}}</span>
							</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label
								style="padding-top: 5px;"> <input
								style="margin-top: 3px;" name="menuStatus" value="2"
								ng-model="formparam.menuStatus" type="radio" /> <span>{{"停用"
									| translate}}</span>
							</label>
						</div>
					</div>
				</form>
				<div style="text-align: center;">
					<!--btn-common-->
					<button route-flag="resourceSav" btn-flag="button"
						class="btn btn-blue" ng-disabled="formValidate.$invalid"
						ng-click="ok($event)">{{"保存" | translate}}</button>
					<button route-flag="resourceDel" btn-flag="button"
						class="btn btn-default" ng-click="delMenu()">{{"删除" |
						translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div ng-include="'common/page/modal/select_group.html'"></div>
</script>