<div class="hbox hbox-auto-xs hbox-auto-sm"
	ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
	<!-- main -->
	<div class="col">
		<!--<div class="h-xxxs b-b bg-white" condition-nav></div>-->
		<!--<div class="h-xxxs b-b bg-white" ng-controller="TopCtrl">
            <div ng-click="loginOut()" style="float: right; cursor: pointer; margin: 15px 25px 0px 0px;">退出</div>
            <div ng-click="updatePwd()" style="float: right; cursor: pointer; margin: 15px 10px 0px 0px;">修改密码</div>
            <script type="text/ng-template" id="updPwdModalContent.html">
                <div ng-include="'insure/page/modal/update_password_model.html'"></div>
            </script>
        </div>-->

		<!--<div class="panel-heading padder-md" ng-show="false" style="background: #fff;">-->
		<!--<div class="row row_height">-->
		<!--<div class="_clear-" ng-include="'common/page/blocks/title.html'"></div>-->
		<!--</div>-->
		<!--</div>-->

		<div ui-view class="fade-in-up"></div>

	</div>
	<!-- / main -->
</div>
<!-- footer  -->
<div class="app-footer wrapper-xs b-t bg-light" style="z-index: -1;">
	<!--<img style="width: 50px;height:50px" src="{{app.src2}}"/>-->
	<span class="pull-right"> <!--{{app.version}}
        <a href ui-scroll="app" class="m-l-sm text-muted">
            <i class="fa fa-long-arrow-up"></i>
        </a>--> &copy; 2018 Copyright zhuanzhi.cn
	</span>

</div>
<!-- / footer -->