<div class="modal-header">
	<div class="btn  pull-right m-t-n-xs m-l-n list-icon"
		ng-click="alink_return()">
		<i class="fa fa-mail-reply-all"></i>
		<!--
        <a ui-sref="app.insure.dataOrder_orderApplyList" href="#/app/insure/dataOrder_orderApplyList">
            <i class="fa fa-mail-reply-all"></i>
        </a>-->
	</div>
	<h3 class="m-n font-thin h3">{{pageTitle}}</h3>
</div>
<div class="wrapper-md">
	<pre>
<div style="text-align: center">
			<h4 class="font-bold m-b-none">服务协议</h4>
		</div>
<div class="line b-b"></div>
    尊敬的用户，您正在注册并即将成为坤舆天气风险服务云平台的正式会员。为了保护您的合法权益并正确履行会员义务，
根据《中华人民共和国气象法》和《气象信息服务管理办法》（中国气象局令第27号）等有关规定，
坤舆天气（北京）科技有限公司作为数据服务提供方（简称甲方）同意接受您/贵单位（简称乙方）为坤舆天气风险服务云平台（简称本网站）会员用户，
同时双方本着自愿、诚实信用的原则，就双方合作达成如下协议：
<h5 class="font-bold m-b-none m-t-none">一、陈述</h5>
  1，双方都合法成立、有效存在、声誉良好。
  2，双方都应积极维护自身及对方的良好商誉，不得做出有损于协议任何一方利益的言行。
  3，经双方明确指定的合作项目，甲方为乙方提供包括气象、农业等在内的数据分析及风险预警、评估等服务。
  4，双方可以委请第三方承担本协议约定的部分工作，但不代表本协议包含权利或义务的转让。
<h5 class="font-bold m-b-none m-t-none">二、乙方权利及义务</h5>
  1，乙方有权依据其所在行业的需求对甲方为其提供的气象风险服务提出有关的要求和意见，对不符合本协议约定的行为进行指正。
  2，乙方有权要求甲方提供相应技术支持，根据乙方的需求确保数据处理的有效、准确。
  3，乙方有权针对甲方提供的气象风险服务，提出定制化的基于气象数据和行业的数据分析服务要求，乙方有义务提供针对大数据分析所需的除气象数据以外的相关行业信息。
  4，乙方应根据具体服务内容向甲方支付服务费用。
  5，乙方确保在数据交互过程中气象信息的保密性，不得将甲方数据以及根据乙方提供数据进行加工处理后的数据转让第三方使用。
  6，乙方申请数据需填写数据申请表，详见附件1。
<h5 class="font-bold m-b-none m-t-none">三、甲方权利及义务</h5>
  1，甲方有权要求乙方提供相关的技术配合和行业支持。
  2，甲方根据自身技术实力结合乙方所在行业数据的特点，依据乙方在数据处理的过程中提出的需求和建议，为其提供或开发相应的服务或功能。
  3，甲方要确保气象风险服务相关数据的有效、完整、准确。
  4，甲方有义务对乙方提供的相关信息及数据进行保密。
  5，甲方有义务按照实际结算费用金额提供真实可靠的发票。
<h5 class="font-bold m-b-none m-t-none">四、服务内容</h5>
  1，所需数据种类要素：{{dataType}}
  2，所需数据时间长度：{{timeInterval}}
  3，所需数据地理位置：{{location}}
  4，所需数据用途：{{datausageinput}}
  5，作物种类：{{crop}}
<h5 class="font-bold m-b-none m-t-none">五、服务费用及服务方式</h5>
  1，服务收费
    1）基础服务费
    甲方应当向乙方支付人民币10,000元/用户/年的基础服务费用。
    2）历史数据使用费
    历史数据分为县域气象数据和格网化气象数据，数据精度及时间长度详见本协议5.4项之表格。
    甲方利用乙方历史数据设计、销售的保险产品，每年按照该保险产品实际保费收入的百分比向乙方支付历史数据使用费，具体比例详见本协议5.4项之表格。
    3）预警服务费
    甲方利用乙方数据设计、销售的保险产品，每年按照该保险产品实际保费收入的百分比向乙方支付保单风险预警服务费，具体比例详见本协议5.4项之表格。
    4）举证服务费
    甲方利用乙方数据设计、销售的保险产品，每年按照该保险产品实际保费收入的百分比向向乙方支付保单的气象举证服务费，具体比例详见本协议5.4项之表格。
  2，服务方式：
    1）数据加工服务
    数据加工以双方认可或乙方提供的算法为依据；以上提供的数据均为按照乙方要求进行加工后的数据，不提供原始数据。
    2）数据提供方式
    数据服务申请通过网站订购方式，通过邮件或FTP方式推送数据。
  3，附加条款：
    1）服务套餐约定
    乙方如使用甲方历史气象数据，须同时使用甲方提供的本协议4.3和4.4条款规定之保单风险预警与气象举证服务。
    2）服务周期约定
    以上服务周期为乙方利用甲方数据设计、销售的保险产品的生命全周期，直至该产品退出市场。
  4，气象数据服务套餐清单
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>数据服务套餐类型</th>
            <th>数据精度</th>
            <th>历史数据时间长度</th>
            <th>基础服务费(人民币)</th>
            <th>历史数据使用费</th>
            <th>预警服务费</th>
            <th>举证服务费</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>县域气象数据服务</td>
            <td>县域</td>
            <td>1951-今</td>
            <td>10,000元/用户/年</td>
            <td>实际保费收入的1%</td>
            <td>实际保费收入的3%</td>
            <td>实际保费收入的2%</td>
        </tr>
        <tr>
            <td>格网气象数据服务</td>
            <td>1Km*1Km</td>
            <td>1986-今</td>
            <td>10,000元/用户/年</td>
            <td>实际保费收入的2%</td>
            <td>实际保费收入的4%</td>
            <td>实际保费收入的3%</td>
        </tr>
			</tbody>
		</table>  5，农业数据
    甲方根据所拥有数据的情况向乙方提供数据，在本合作协议生效的第一年，甲方向乙方免费提供该数据。
<h5 class="font-bold m-b-none m-t-none">六、保密协定</h5>
  1，乙方在获得甲方气象数据后，不能将相关数据出租、出售、发表、出版或者向任何第三方分发、销售或再授权。
  2，甲乙双方应对其通过工作接触和通过其他渠道得知的有关对方的商业秘密严格保密，未经对方事先书面通知，不得向其他人披露。
  3，未经对方事先书面同意，不得擅自使用、复制对方商标、商业信息、人员团队、技术及其他资料。
  4，除非下列情况，甲方在未经乙方书面同意不得将获得的来自乙方的任何客户信息和保密信息泄露给第三方，且对客户信息永久保密：
    1)应乙方要求提供给为协助本协议及具体项目所必需的外聘专家或顾问；
    2)应乙方要求提供给具体项目中相关的保险服务的承保人；
    3)应法律或司法管辖或监管规定要求而提供给第三方。
<h5 class="font-bold m-b-none m-t-none">七、违约条款</h5>
  1，注册会员资格时，所提交的资料必须真实有效，否则甲方有权拒绝其申请或者撤销其会员资格，并不予任何赔偿或者退还任何已缴纳的收费服务费用。
  会员资料发生变化时，应及时修改注册的个人资料，否则由此造成的会员权利不能全面有效地行使的责任由会员自己承担。
  2，本网站会员资格只限本用户名使用，不得转让到其他用户名上。
  3，若会员违反本服务条款的规定，甲方将有权取消该会员的会员资格而无须给与任何补偿，也不予退还任何已缴纳的收费服务费用。
  4，甲方如违反协议规定条款，按以下规定处理：
    1）由于乙方违反协议导致任何法律后果的发生，由乙方独立承担相应的法律责任；
    2）乙方弄虚作假，不按服务协议约定支付甲方服务费，乙方需向甲方支付协议约定服务费用的5倍作为赔偿；
    3）视乙方违规情节轻重，甲方有权采取适当的形式追究乙方的法律责任。
<h5 class="font-bold m-b-none m-t-none">八、争端解决</h5>
  1，本协议适用中华人民共和国法律（不包括港澳台地区法律）。
  2，对于因本协议的订立、履行等产生的争议，双方应通过友好协商进行解决。
  3，协商不成的，任何一方可起诉至被告所在地人民法院。
<h5 class="font-bold m-b-none m-t-none">九、其他</h5>
  1，本协议如有未尽事宜，协议各方另行协商决定，并签定备忘录或补充协议以表述。
  2，如本协议与补充协议或备忘录有矛盾或冲突，应以补充协议或备忘录为准。
  3，本协议及其补充协议、附件、备忘录，与本协议同具法律效力。

双方已于本合同首页所载日期通过其正式授权的代表签订本合同，以资证明。
（以下无正文内容）

甲方（公章） ___________________     乙方（公章）____________________

代表签字：_____________________     代表签字：____________________
    </pre>
</div>
