<div class="modal-header">
	<div class="btn  pull-right m-t-n-xs m-l-n list-icon"
		ng-click="approveObj.alinkReturn()">
		<i class="fa fa-mail-reply-all"></i></a>
	</div>
	<h3 class="m-n font-thin h3">{{pageTitle | translate}}</h3>
</div>
<div class="wrapper-md">
	<div class="">
		<form name="forma" class="form-horizontal form-validation">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>表单内容</strong>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2"><span
							class="text-danger m-r-xs font-bold as-star">*</span>是否通过</label>
						<div class="col-sm-9">
							<label class="col-lg-2 m-l-n"> <input type="radio"
								name="approveStatus" ng-model="approveObj.approve" value="0"
								ng-click=""> 通过
							</label> <label class="col-lg-2"> <input type="radio"
								name="approveStatus" ng-model="approveObj.approve" value="1"
								ng-click=""> 驳回
							</label>
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"
						ng-show="approveObj.approve == '0'"></div>
					<div class="form-group" ng-show="approveObj.approve == '0'">
						<label class="col-sm-2"><span
							class="text-danger m-r-xs font-bold as-star">*</span>预计数据可下载时间</label>
						<div class="col-sm-10">
							<div class="w-xls m-b-sm" style="display: inline-table">
								<input type="text" class="form-control"
									value="{{approveObj.downloadTime}}" name="downloadTime"
									onfocus="WdatePicker({ dateFmt:'yyyy/MM/dd'})"
									id="downloadTime"> <span class="input-group-btn"><button
										type="button" class="btn btn-default"
										onclick="WdatePicker({el:'downloadTime', dateFmt:'yyyy/MM/dd'})">
										<i class="glyphicon glyphicon-calendar"></i>
									</button> </span>
							</div>
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2">&nbsp;&nbsp;&nbsp;审批意见</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="6"
								ng-model="approveObj.note"></textarea>
						</div>
					</div>
					<!--
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="(XXX) XXXX XXX" ng-model="g.g" ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/" required >
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Equal To</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-6"><input type="text" name="foo" class="form-control" ng-model="g.h" required></div>
                                <div class="col-sm-6"><input type="text" name="confirm_foo" class="form-control" required ng-model="g.i" ui-validate=" '$value==g.h' " ui-validate-watch=" 'g.h' ">
                                    <span ng-show='forma.confirm_foo.$error.validator'>Not match!</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Black-list</label>
                        <div class="col-sm-9">
                            <input type="email" name="email" class="form-control" placeholder="input 'bad@domain.com'" ng-model="g.j" ui-validate="{blacklist : 'notBlackListed($value)' }" required>
                            <span ng-show='forma.email.$error.blacklist'>This e-mail is black-listed!</span>
                        </div>
                    </div>-->
				</div>
				<footer class="panel-footer text-right bg-light lter">
					<button type="submit" class="btn btn-success"
						ng-click="approveObj.submit()">提交</button>
				</footer>
			</div>
		</form>
	</div>
</div>