<div class="modal-header">
	<div class="btn  pull-right m-t-n-xs m-l-n list-icon"
		ng-click="uploadObj.alinkReturn()">
		<i class="fa fa-mail-reply-all"></i></a>
	</div>
	<h3 class="m-n font-thin h3">{{pageTitle | translate}}</h3>
</div>
<div class="wrapper-md">
	<div class="">
		<form name="forma" class="form-horizontal form-validation">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>表单内容</strong>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2  m-t-sm"><span
							class="text-danger m-r-xs font-bold as-star">*</span>上传类型</label>
						<div class="col-sm-10">
							<label class="col-lg-2 m-l-n"> <input type="radio"
								name="upfileType" ng-model="uploadObj.upfileType"
								value="webupload"> 通过平台上传
							</label> <label class="col-lg-2"> <input type="radio"
								name="upfileType" ng-model="uploadObj.upfileType"
								value="manualupload"> 手动上传服务器
							</label>
							<!--                        <div class="col-lg-4"  ng-show="">
                                <small class="bg-warning">
                                    必填项
                                </small>
                            </div>-->
						</div>
					</div>
					<div ng-show="uploadObj.upfileType == 'webupload'"
						class="form-group">
						<label class="col-sm-2"></label>
						<div class="col-sm-10">

							<input type="file" nv-file-select="" uploader="uploader" />
						</div>
					</div>

					<div ng-show="uploadObj.upfileType == 'manualupload'"
						class="form-group">
						<label class="col-sm-2"></label>
						<div class="col-sm-10">
							<input type="text" name="other" class="form-control"
								placeholder="输入文件名全路径:/home/weather/dataOrder/2017-01-01/xx.zip"
								ng-model="approveObj.fileName">
						</div>
					</div>


					<!--
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="(XXX) XXXX XXX" ng-model="g.g" ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/" required >
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Equal To</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-6"><input type="text" name="foo" class="form-control" ng-model="g.h" required></div>
                                <div class="col-sm-6"><input type="text" name="confirm_foo" class="form-control" required ng-model="g.i" ui-validate=" '$value==g.h' " ui-validate-watch=" 'g.h' ">
                                    <span ng-show='forma.confirm_foo.$error.validator'>Not match!</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Black-list</label>
                        <div class="col-sm-9">
                            <input type="email" name="email" class="form-control" placeholder="input 'bad@domain.com'" ng-model="g.j" ui-validate="{blacklist : 'notBlackListed($value)' }" required>
                            <span ng-show='forma.email.$error.blacklist'>This e-mail is black-listed!</span>
                        </div>
                    </div>-->
				</div>
				<footer class="panel-footer text-right bg-light lter">
					<button type="submit" class="btn btn-success"
						ng-click="uploadObj.uploadSubmit()">提交</button>
				</footer>
			</div>
		</form>
	</div>
</div>