<div style="margin: 10px 15px">
	<h3 class="m-n font-thin h5" ng-bind="listObj.navigationMsg"></h3>
</div>
<!--运行-->
<div class="clearfix m-b-md"
	style="border: solid 1px #dee5e7; border-left: 0px; border-right: 0px; margin-top: 0px">
	<div style="margin-left:20px">
		<h4>作业流查询：</h4>
	</div>
	<form class="form-horizontal" name="searchuserForm"
		style="margin-top: 5px">
		<div class="" style="margin-top: 30px;">
			<!--..开始时间-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">开始时间</label>
				<div class="col-md-9 col-sm-10 padder-l-0"
					style="display: inline-table">
					<input id="serchStart" class="m-b form-control" type="text" placeholder="请选择开始时间"
						onclick="WdatePicker({lang:'zh-cn',vel:'dateDefault',dateFmt:'yyyy/MM/dd HH:mm:ss'})" />
				</div>
			</div>
			<!--END..开始时间-->
			<!--..结束时间-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">结束时间</label>
				<div class="col-md-9 col-sm-10 padder-l-0"
					style="display: inline-table">
					<input id="serchEnd" class="m-b form-control" type="text" placeholder="请选择结束时间"
						onclick="WdatePicker({lang:'zh-cn',vel:'dateDefault',dateFmt:'yyyy/MM/dd HH:mm:ss'})" />
				</div>
			</div>
			<!--END..结束时间-->

			<!--..类型，下拉列表框-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">产品类型</label>
				<div class="col-md-9 col-sm-10 padder-l-0">
					<ui-select ng-change="listObj.getTypeSelect(listObj.project_type)" ng-model="listObj.project_type" theme="bootstrap">
						<ui-select-match placeholder="请选择产品类型">
							{{$select.selected.name}} </ui-select-match>
						<ui-select-choices group-by="'group'" repeat="item in listObj.projectData | filter: $select.search">
							<span ng-bind-html="item.name | highlight: $select.search"></span>
						</ui-select-choices> </ui-select>
				</div>
			</div>

			<!--..作业流执行状态，下拉列表框-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">执行状态</label>
				<div class="col-md-9 col-sm-10 padder-l-0">
					<ui-select ng-model="listObj.jobState" theme="bootstrap" ng-change="listObj.selectJobType(listObj.jobState)">
						<ui-select-match placeholder="请选择作业流执行状态">
							{{$select.selected.name}} </ui-select-match> <ui-select-choices group-by="'group'"
																							repeat="item in listObj.stateData | filter: $select.search">
						<span ng-bind-html="item.name | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
				</div>
			</div>

			<div class="row-row pull-right-xs text-center padder-l-0">
				<button class="btn m-b-xs w-xs btn-default"
					ng-disabled="searchuserForm.$invalid"
					ng-click="listObj.searchJobBtn()"
					style="position: relative; left: -15px; top: 0px">查询</button>
			</div>
		</div>
	</form>
</div>
<div class="clearfix m-b-md" style="padding: 20px 20px 0px 20px;">
	<button route-flag="addPolicy" btn-flag="button"
		class="btn btn-default pull-left" ng-click="listObj.addOperation()">
		<i class="fa fa-plus"></i>&#12288;新增作业流
	</button>
	<!--<button route-flag="delAllPolicy" btn-flag="button"-->
		<!--class="btn btn-default pull-right"-->
		<!--ng-click="listObj.deleteIntegration()">-->
		<!--<i class="fa fa-minus"></i>&#12288;批量运行-->
	<!--</button>-->
</div>
<!--表格:运行-->
<!--<div>
	<div style="background: #fff; padding: 0px 20px 20px 20px;">
		<h3 class="h4">
			<i class="fa fa-cogs"></i>&nbsp;&nbsp;运行控制
		</h3>
		<br />
		<table table-directive tableoption="operationTable"
			id="operationtable" instance="listObj.operationTableInstance"></table>
	</div>
</div>-->
<!--表格:运行结果-->
<div>
	<div style="background: #fff;">
		<table table-directive tableoption="operationResultTable"
			id="operationTable"
			instance="listObj.operationTableResultInstance"></table>
	</div>
</div>
