<div style="margin: 10px 15px">
	<h3 class="m-n font-thin h5" ng-bind="listObj.navigationMsg"></h3>
</div>
<!--选项-->
<div class="clearfix m-b-md"
	style="border: solid 1px #dee5e7; border-left: 0px; border-right: 0px; margin-top: 0px">
	<form class="form-horizontal" name="searchuserForm">
		<div class="" style="margin-top: 30px;">

			<!--..待分析数据，下拉列表框-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">待分析数据</label>
				<div class="col-md-9 col-sm-10 padder-l-0">
					<ui-select ng-model="qualityParam.qtSource" theme="bootstrap">
					<ui-select-match placeholder="请选择待分析数据">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices group-by="'group'"
						repeat="item in listObj.sourceData | filter: $select.search">
					<span ng-bind-html="item.name | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<!--..参考数据，下拉列表框-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">参考数据</label>
				<div class="col-md-9 col-sm-10 padder-l-0">
					<ui-select ng-model="qualityParam.qtReferSource" theme="bootstrap">
					<ui-select-match placeholder="请选择参考数据">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices group-by="'group'"
						repeat="item in listObj.sourceData | filter: $select.search">
					<span ng-bind-html="item.name | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<!--..类型，下拉列表框-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">类型</label>
				<div class="col-md-9 col-sm-10 padder-l-0">
					<ui-select ng-model="qualityParam.qtType" theme="bootstrap">
					<ui-select-match placeholder="请选择类型">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices group-by="'group'"
						repeat="item in listObj.typeData | filter: $select.search">
					<span ng-bind-html="item.name | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<!--..配置文件目录，下拉列表框-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">配置文件目录</label>
				<div class="col-md-9 col-sm-10 padder-l-0">
					<ui-select ng-model="qualityParam.dir" theme="bootstrap">
					<ui-select-match placeholder="请选择配置文件目录">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices group-by="'group'"
						repeat="item in listObj.sourceDirData | filter: $select.search">
					<span ng-bind-html="item.name | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<!--..开始时间-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">开始时间</label>
				<div class="col-md-9 col-sm-10 padder-l-0"
					style="display: inline-table">
					<input id="stationStart" class="m-b form-control" type="text"
						onclick="WdatePicker({lang:'zh-cn',vel:'dateDefault'})" />
				</div>

			</div>
			<!--END..开始时间-->
			<!--..结束时间-->
			<div class="form-group col-md-5 col-sm-12 padder-l-0 m-b-md">
				<label class="col-md-3 col-sm-2 control-label padder-l-0">结束时间</label>
				<div class="col-md-9 col-sm-10 padder-l-0"
					style="display: inline-table">
					<input id="stationEnd" class="m-b form-control" type="text"
						onclick="WdatePicker({lang:'zh-cn',vel:'dateDefault'})" />
				</div>
			</div>
			<!--END..结束时间-->



			<div class="row-row pull-right-xs text-center padder-l-0">
				<button class="btn m-b-xs w-xs btn-default"
					ng-disabled="searchuserForm.$invalid"
					ng-click="listObj.searchPolicyBtn()"
					style="position: relative; left: 0px; top: 120px">查询</button>
			</div>
		</div>
	</form>
</div>
<!--表格-->
<div class="row hdc-quality">
	<div class="col-md-6">
		<img src="quality_images/p1.png"
			style="width: 130%; margin-left: -18%;">
	</div>
	<div class="col-md-6">
		<img src="quality_images/p1.png"
			style="width: 130%; margin-left: -18%;">
	</div>

</div>
<!--质检报告-->
<div class="clearfix m-b-md"
	style="border: solid 1px #dee5e7; border-left: 0px; border-right: 0px; margin-top: 0px;">
	<div style="background: #fff; padding: 20px;">
		<table table-directive tableoption="qualityReportTable"
			id="qualityReportTable" instance="listObj.qualityReportTableInstance"></table>
	</div>
	<!--..导出选项-->
	<div class="form-group" style="padding: 20px">
		<div class="line line-dashed b-b line-lg pull-in"></div>

		<div class="col-md-2 col-sm-10 padder-l-0 m-b"
			style="margin-top: 15px">
			<label class="checkbox-inline i-checks"> <input
				type="checkbox" value="false" checked="checked"
				ng-model="listObj.batchProcessing"><i></i> 是否批量处理
			</label>
		</div>
		<div class="col-md-3 col-sm-10 padder-l-0 m-b"
			style="margin-top: 15px">
			<label class="checkbox-inline i-checks"> <input
				type="checkbox" value="false" checked="checked"
				ng-model="listObj.outputAll"><i></i> 是否输出每个产品质检报告
			</label>
		</div>
		<div class="col-md-5 col-sm-10 padder-l-0 m-b" style="margin: 0px"></div>
		<div class="row-row pull-right-xs text-center padder-l-0">
			<button class="btn m-b-xs w-xs btn-default"
				ng-disabled="searchuserForm.$invalid" ng-click="listObj.open()">确认
			</button>
		</div>
	</div>
	<!--END..导出选项-->
</div>