<div style="width: 100%;">
    <div class="modal-header" style="color: #555;line-height: 20px;margin-bottom: 10px">
        管理平台 > 作业流管理 > 运行结果
        <i class="glyphicon glyphicon-remove-circle" style="float: right" ng-click="ok()"></i>
    </div>
    <div class="col-sm-10">当前位置:local
        <a ng-repeat="item in listObj.locationList" ng-click="httpFun.requestData(item.path)">
            <span ng-if="''!=item.name&&null!=item.name">&gt;</span>
            {{item.name}}
        </a>
    </div>
    <div class="col-sm-2" style="" ng-click="listObj.backUpLevel()"><a class="pull-right">返回上一级</a></div>
    <div class="modal-body scrollable hover" style="height: 500px;">
        <table class="table table-striped table-hover col-sm-12">
            <tr>
                <th width="30%">名称</th>
                <th width="70%">路径</th>
            </tr>
            <tr ng-repeat="item in listObj.fileList" ng-click="httpFun.requestData(listObj.path+'/'+item)">
                <td>{{item}}</td>
                <td>{{listObj.path}}/{{item}}</td>
            </tr>

        </table>
    </div>

</div>